body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 微软雅黑, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.custom-pj {
  padding: 0;
  background-color: #fff2e0;
}

.cloud-header {
  background-image: url(https://miquan-money-cdn.miquan.ink/static/wechat/mqjd/quanlian/cloud_header.png);
  /* background-size: 100% 11.375rem; */
  /* background-position: center top; */
  /* background-repeat: no-repeat; */
  padding-top: 24.17%;
  background-size: cover;
  position: relative;
  font-size: 0;
}
.ps-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cloud-msg {
  width: 100%;
  background-size: cover;
  background-image: url(https://miquan-money-cdn.miquan.ink/static/wechat/mqjd/quanlian/cloud_bg.png);
  padding-top: 66.4%;
  font-size: 0;
  position: relative;
}
.cloud-header .logo {
  margin: 4% 0 0 10.5%;
  display: inline-block;
  width: 35.33%;
}
.cloud-header .logo img {
  width: 100%;
  /* height: 88px; */
}

.qrcode {
  display: inline-block;
  margin-top: 3.5%;
  margin-left: 12%;
  margin-right: 2%;
  width: 13%;
  vertical-align: top;
}
.qrcode img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.code {
  display: inline-block;
  margin-top: 7%;
  vertical-align: top;
}
.code-title {
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-size: 28px;
  color: #1a1a1a;
}
.code-num {
  font-family: Arial;
  font-weight: 400;
  font-size: 36px;
  color: #403939;
  margin-top: 9%;
}

.cloud-swiper img {
  width: 100%;
}
.cloud-content {
  width: 93.6%;
  border: 2px solid #e6a853;
  margin: 3.2%;
  margin-top: 8%;
  background: rgba(255, 255, 255, 0.32);
}

.cloud-info-item {
  display: flex;
  min-height: 75px;
}
.cloud-info-item:last-child div {
  border-bottom: none !important;
}
.cloud-info-item div:first-child {
  width: 25%;
  border-right: 1px solid rgb(230 197 151 / 0.9);
  border-bottom: 1px solid rgb(230 197 151 / 0.9);
  font-size: 38px;
  font-weight: bold;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-info-item div:last-child {
  flex: 1;
  border-bottom: 1px solid rgb(230 197 151 / 0.9);
  font-size: 38px;
  color: #d17d22;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}
.cloud-info {
  text-align: center;
  margin-top: 3%;
  color: #1a1a1a;
  font-size: 34px;
  font-family: Microsoft YaHei;
}
.cloud-info span {
  color: #f53131;
}
.cloud-tip {
  width: 94%;
  background: #fff7ee;
  border-radius: 9px;
  border: 1px solid #e6c597;
  margin: 22% auto 16%;
  padding-bottom: 5%;
}
.tip-title {
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-size: 46px;
  color: #0e0e0e;
  text-align: center;
  margin-top: 5%;
}
.tip-desc {
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-size: 36px;
  color: #1a1a1a;
  margin: 5% 4% 0;
  line-height: 50px;
  overflow: hidden;
  text-indent: 54px;
}
.tip-footer {
  margin-top: 6%;
  text-align: right;
  margin-right: 4%;
}
.footer-title {
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-size: 36px;
  color: #1a1a1a;
}
.footer-en {
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-size: 19px;
  color: #1a1a1a;
  margin-top: 2%;
}
.cloud-logo {
  padding: 0 0 13%;
  width: 53%;
  text-align: center;
  margin: 0 auto;
}
.cloud-logo img {
  width: 100%;
}

.no-icon {
  width: 75%;
  margin: 8% 12.5% 0;
}